.products {
    display: flex;
    flex-direction: column;
}

.product {
    background-color: lightgray;
    border: 2px inset darkgray;
    padding: 0.7rem;
    margin: 0.7rem;
    border-radius: 5px;
    /* box-shadow: 5px, 10px black; */
}

button {
    margin: 1%;
    border-radius: 4px;
}

.button__topPrice:hover,
.button__create:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}